html, body {
	margin: 5px;
	padding: 5px;
}

.center {
	display: block;
	margin: 0 auto;
}

input {
	width: 40%;
	border: 3px solid #00a1ff;
}

#map {
	height: 400px;
	width: 100%;
}

div#price_slider{
	padding-top: 50px;
	width: 500px;
}

div#slider{
	width: 210px;
}

.price_input{
	width: 100px;
    height: 30px;
}

#data{
	width: 100%;
	border: 3px solid #00a1ff;
}

#result_list{
	display: inline-block;
	width: 49%;
}

#result_info{
	display:inline-block;
	width: 50%;
}

#result_list form {
	width: 50%;
}

#result_info #textarea {
	resize: none;
	height: 15%;
	width: 100%;
	overflow-y: auto;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}


.search-bar {
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    box-shadow: 5px 10px 32px -5px rgba(0,0,0,0.75);
    margin-bottom: 20px;
}
.search-bar::placeholder {
    color: lightgray;
}

.search-btn {
    height: 60px;
    width: 260px;
    margin: 0 auto;
    margin-bottom: 40px;
    border: 2px solid #00a1ff;
    background-color: white;
    transition-duration: 0.6s;
    font-size: 20px;
    color: #00a1ff;
    box-shadow: 5px 10px 32px -5px rgba(0,0,0,0.75);
}
.search-btn:hover {
    transform: scale(1.04, 1.04 );
    cursor: pointer;
}

.sliderbox {
    margin-bottom: 40px;
    background-color: #f2f4f7;
    border: 2px solid #00a1ff;
    box-shadow: 5px 10px 32px -5px rgba(0,0,0,0.75);
}
.slider-style {
    margin-bottom: 50px;
}
.a-box {
    background-color: transparent;
    width: 50%;
    height: 60px;
    margin-left: 25%;
}
.price-box {
    width: 49%;
    height: 60%;
    display: inline-block;
    text-align: center;
    font-weight: bolder;
    box-shadow: 2px 6px 12px -5px rgba(0,0,0,0.75);
}